
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
@Html.Partial("partialHead")
<body>
    <div id="colorlib-page">
        <div class="container-wrap">
            @Html.Action("partialNavbar")

            <div id="colorlib-main">
                @Html.Action("partialCover")

                @Html.Action("partialAbout")

                @Html.Action("partialEducation")

                @Html.Action("partialExperience")

                @Html.Action("partialSkill")

                @Html.Action("partialBlog")

                @Html.Action("partialTestimonial")

                @Html.Action("partialContact")



            </div><!-- end:colorlib-main -->
        </div><!-- end:container-wrap -->
    </div><!-- end:colorlib-page -->
    @Html.Partial("partialScript")

</body>
</html>

