@model MyPage.Models.Entity.About

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hakkımda Güncelleme Sayfası</h1>
                                    </div>
           
                                    <form class="user" method="post">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.AboutID, new { @type = "hidden" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Download Cv")
                                            @Html.TextBoxFor(x => x.Header, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Başlık")
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("İsim Soyisim")
                                            @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Kapak Resmi")
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Profil Resmi")
                                            @Html.TextBoxFor(x => x.ImageUrlTwo, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Hakkımda Yazısı")
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control form-control-user", @rows = 5 })
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Geniş Açıklama")
                                            @Html.TextAreaFor(x => x.DescriptionSmall, new { @class = "form-control form-control-user", @rows = 5 })
                                        </div>
                                        <br />

                                        <button class="btn btn-primary btn-user btn-block" type="submit">Güncelle</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

