@model MyPage.Models.Entity.Referance

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Referans Güncelleme Sayfası</h1>
                                    </div>

                                    <form class="user" method="post">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.ReferanceID, new { @type = "hidden" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("İsim")
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ünvan")
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Renk")
                                            @Html.TextBoxFor(x => x.color, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("İcon Url")
                                            @Html.TextBoxFor(x => x.iconurl, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Sosyal Medya")
                                            @Html.TextBoxFor(x => x.socialmedia, new { @class = "form-control form-control-user" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Düşünceleri")
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control form-control-user", @rows = 2})
                                        </div>

                                        <br />

                                        <button class="btn btn-primary btn-user btn-block" type="submit">Güncelle</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
